<div class="wrapper">
  <div class="container">
    <h1>¡únete!</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSaveForm()" class="form">
      <input type="text" formControlName="nombre" placeholder="Ingresa tu nombre">
      <input type="text" formControlName="apellidoPaterno" placeholder="Ingresa tu apellido paterno">
      <input type="text" formControlName="apellidoMaterno" placeholder="Ingresa tu apellido materno">
      <input type="text" formControlName="direccion" placeholder="Ingresa tu direccion">
      <input type="date" formControlName="fechaNacimiento" placeholder="Ingresa tu fechaNacimiento">
      <input type="text" formControlName="numeroDocumento" placeholder="Ingresa tu numeroDocumento">
      <input type="text" formControlName="email" placeholder="Ingresa tu email">
      <input type="text" formControlName="userName" placeholder="Ingresa tu userName">
      <input type="text" formControlName="password" placeholder="Ingresa tu password">
      <input type="text" formControlName="celular" placeholder="Ingresa tu celular">
      <input type="date" formControlName="fechaRegistro" placeholder="Ingresa tu password">
      <button type="submit" id="login-button">Regístrate</button>
    </form>
  </div>
</div>
