<app-header></app-header>
<div class="row">
  <section class="section">
    <header>
      <h3>Registra una cuenta</h3>
      <h4>Llena los siguientes datos</h4>
    </header>
    <main>

      <form [formGroup]="cuentaForm" (ngSubmit)="onSaveForm()">
        <!-- <div class="form-item box-item">
          <input type="text" name="name" placeholder="Cuenta" value={{cuenta}} formControlName="numerocuenta"
            data-required disabled>
        </div> -->

        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Nmro cuenta</label>
            </div>
          </div>
          <div class="form-item">
            <label class="label">{{cuenta}}</label>
          </div>
        </div>

        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Banco</label>
            </div>
          </div>
          <div class="form-item">
            <select (change)="changeBanco($event)" class="custom-select">
              <option value="">Elige un banco</option>
              <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Tipo de cuenta</label>
            </div>
          </div>
          <div class="form-item">
            <select (change)="changeTipoCuenta($event)" class="custom-select">
              <option value="">Elige un tipo de cuenta</option>
              <option *ngFor="let tipo of tiposCuenta" [ngValue]="tipo.id">{{tipo.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-item-double box-item">
          <div class="form-item">
            <div class="radio-label">
              <label class="label">Saldo</label>
            </div>
          </div>
          <div class="form-item ">
            <input type="text" name="saldo" placeholder="s/." formControlName="saldo">
          </div>

        </div>

        <!-- <div class="form-item box-item">
          <input type="text" name="name" placeholder="Cuenta" formControlName="cuenta" data-required>
        </div> -->

        <div class="form-item">
          <button id="submit" type="submit" class="submit">Registrar cuenta</button>
        </div>
      </form>
    </main>
    <footer>
      <p>¿Ya no deseas registrar una cuenta? <a href="/cuentas">Volver a Mis cuentas</a></p>
    </footer>
    <i class="wave"></i>
  </section>
</div>
