<div class="wrapper">
  <div class="container">
    <h1>¡Bienvenido!</h1>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSaveForm()">
      <input formControlName="username" type="text" placeholder="Username">
      <input formControlName="password" type="password" placeholder="Password">
      <button type="submit" id="login-button">Login</button>
    </form>
    <p class="go-to-signup">
      ¿No tienes cuenta aún? <a href="/sign-up">Regístrate</a>
      <!-- <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <button [routerLink]="['/home']" routerLinkActive="active">Home</button> -->
    </p>
  </div>
  <div>
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>

  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- {
  "nombres": "Stefhany",
  "apellidoMaterno": "Martins",
  "apellidoPaterno": "Correia Escate",
  "direccion": "Calle 123, Urb. Valle Hermoso",
  "fechaNacimiento": "1992/09/16",
  "tipoDocumentoId": "2",
  "numeroDocumento": "000123456",
  "distritoId": "12",
  "generoId": "1",
  "estadoId": "1",
  "userName" : "STEFHANY123",
  "password" : "123456SM"
} -->
