<app-header></app-header>
<div class="row">
  <section class="section">
    <header>
      <h3>Registra una tarjeta</h3>
      <h4>Llena los siguientes datos</h4>
    </header>
    <main>

      <form [formGroup]="tarjetaForm" (ngSubmit)="onSaveForm()">
        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Nmro Tarjeta</label>
            </div>
          </div>
          <div class="form-item">
            <label class="label">{{tarjeta}}</label>
          </div>
        </div>

        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Marca</label>
            </div>
          </div>
          <div class="form-item">
            <select (change)="changeMarca($event)" class="custom-select">
              <option value="">Elige una marca</option>
              <option *ngFor="let marca of marcas" [ngValue]="marca.id">{{marca.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-item-double box-item">
          <div class="form-item ">
            <div class="radio-label">
              <label class="label">Tipo de tarjeta</label>
            </div>
          </div>
          <div class="form-item">
            <select (change)="changeTipo($event)" class="custom-select">
              <option value="">Elige un tipo</option>
              <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">{{tipo.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-item">
          <button id="submit" type="submit" class="submit">Registrar tarjeta</button>
        </div>
      </form>
    </main>
    <footer>
      <p>¿Ya no deseas registrar una tarjeta? <a href="/tarjetas">Volver a Mis tarjetas</a></p>
    </footer>
    <i class="wave"></i>
  </section>
</div>
