<!-- <nav class="navbar ">

</nav> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav>
  <div class='container'>
    <div class='fontawesome-cog' id='icon'></div>
    <ul>
      <li>
        <a href='/cuentas'>Mis cuentas</a>
      </li>
      <li>
        <a href='/tarjetas'>Mis tarjetas</a>
      </li>
      <li>
        <a href='/pagos'>Mis pagos</a>
      </li>
      <li>
        <a href='/transacciones'>Mis transacciones</a>
      </li>

    </ul>
  </div>
</nav>
<header>
  <div class='container '>
    <h1>¡Bienvenido!</h1>
  </div>
</header>
<div id='nav-bg'></div>
<section id='about'>
  <div class='container container-blogCards'>
    <div class="blog-card">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://image.freepik.com/foto-gratis/chico-atractivo-sorprendido-mirando-telefono-celular-tarjeta-credito_8353-10112.jpg)">
        </div>
      </div>
      <div class="description">
        <h1>Mis Cuentas</h1>
        <p> Gestiona entre tus cuentas de ahorros, corriente, soles o dólares </p>
        <p class="read-more">
          <a href="/cuentas">Ir a mis cuentas</a>
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://image.freepik.com/foto-gratis/tarjetas-credito-apiladas-piso_1150-16381.jpg)">
        </div>
      </div>
      <div class="description">
        <h1>Mis Tarjetas</h1>
        <p>Gestiona tus tarjetas, registra una nueva, actualiza algún dato de ellas y hasta elimínalas. De esta manera
          ten ordenada tu billetera</p>
        <p class="read-more">
          <a href="/tarjetas">Ir a Mis tarjetas</a>
        </p>
      </div>
    </div>
    <div class="blog-card">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://image.freepik.com/foto-gratis/liquidacion-tarjeta-credito-pos-lugar-compras-efectivo_1359-1162.jpg)">
        </div>
      </div>
      <div class="description">
        <h1>Mis pagos</h1>
        <p> Realiza pagos y revisa tus movimientos en tiempo real. Desde aquí controla tus gatos diarios al instante.
        </p>
        <p class="read-more">
          <a href="/pagos">Ir a mis pagos</a>
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://image.freepik.com/foto-gratis/persona-escribiendo-portatil-tarjeta-credito_1232-585.jpg)">
        </div>
      </div>
      <div class="description">
        <h1>Mis transacciones</h1>
        <p>Revisa los movimientos de tu tarjeta. Desde acá también podrás registrar algún movimiento y así tener el
          control de ellos.</p>
        <p class="read-more">
          <a href="/transacciones">Ir a mis transacciones</a>
        </p>
      </div>
    </div>
  </div>
</section>
